<% if event.user %>
  <div class="info">
    <%= render 'shared/avatar', user: event.user %>
    <h4 class="name">
      <%= link_to event.user.name, user_path(event.user) %>
      <%= render 'shared/verified', user: event.user %>
    </h4>
    <span class="action">created an <%= link_to 'event', event %></span>
  </div>
  <div class="content">
    <h3><%= event.name %></h3>
    <span class="text">
      <%= fa_icon'calendar' %> <%= formatted_time(event.event_datetime) %>
    </span>
    <%= render 'shared/created_at', activity: event %>
    <div class="points">
      <span class="like-count"><%= pluralize(event.cached_votes_up, 'like') %></span>
      <span class="comment-count"><%= pluralize(event.comments_count, 'comment') %></span>
      <div class="pull-right">
        <% if belongs_to_user?(event) %>
          <%= link_to edit_event_path(event), class: 'btn btn-primary btn-sm', data: { toggle: 'tooltip' }, title: 'Edit' do %>
            <% fa_icon 'pencil' %>
          <% end %>

          <div class="tooltip-wrapper" data-toggle="tooltip" title="Delete">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-<%= event.id %>">
              <%= fa_icon 'trash' %>
            </button>
          </div>
          <!-- Modal for delete action -->
          <div id="delete-<%= event.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Delete Event</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this event? This action can't be undone.</p>
                </div>
                <div class="modal-footer">
                  <%= link_to event_path(event), method: :delete, class:'btn btn-default', remote: remote, data: { dismiss: 'modal' } do %>
                    Delete
                  <% end %>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">No, I want to keep it!</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/actions', resource: event %>
<% end %>
