<!DOCTYPE html>
<html>
  <head>
    <title>RUBIT</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_link_tag image_path('favicon-16x16.png'), rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag image_path('favicon-32x32.png'), rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag image_path('apple-touch-icon.png'), rel: 'apple-touch-icon', sizes: '180x180' %>
    <%= favicon_link_tag image_path('safari-pinned-tab.svg'), rel: 'mask-icon', color: '#cc3333' %>
    <%= favicon_link_tag image_path('android-chrome-192x192.png'), rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <link rel="manifest" href="<%= manifest_path format: :json %>">
    <meta name="apple-mobile-web-app-title" content="RUBIT">
    <meta name="application-name" content="RUBIT">
    <meta name="msapplication-TileColor" content="#cc3333">
    <meta name="msapplication-TileImage" content="<%= image_path 'mstile-144x144.png' %>">
    <meta name="theme-color" content="#cc3333">
  </head>
  <body class="<%= controller.controller_name %>">
    <%= render 'shared/navbar' %>
    <% unless notice.blank? %>
      <div class="alert alert-info alert-dismissable alert-fixed">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <% unless alert.blank? %>
      <div class="alert alert-danger alert-dismissable alert-fixed">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
